<nav class="navbar navbar-expand-md navbar-light justify-content-between" style="background-color: #333a40;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- <li class="nav-item"><img src="../../../assets/EasyBinLogo1.png" width="auto" height="50" vspace="5"/></li>
      <li class="nav-item" routerLink="/editor" routerLinkActive="active"><a class="nav-link" href="javascript:void(0);">Canvas</a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="openTestDataModal()">Test Data</a></li>
      <li class="nav-item"><a class="nav-link" href="javascript:void(0);" (click)="openHelpModal()">Help</a></li>
      <li class="nav-item" routerLink="/tutorial" routerLinkActive="active"><a class="nav-link" href="javascript:void(0);">Tutorial</a></li>
      <li class="nav-item" routerLink="/form" routerLinkActive="active"><a class="nav-link" href="javascript:void(0);">Feedback Form</a></li>
      <li class="nav-item" routerLink="/about-us" routerLinkActive="active"><a class="nav-link" href="javascript:void(0);">About Us</a></li> -->
    </ul>
  </div>
  <div>
      <ul class="navbar-nav">
          <li class="nav-item"><img src="../../../assets/EasyBinLogo3.png" width="auto" height="50"/></li>
        </ul>
    </div>
  <!-- <div>
    <ul class="navbar-nav">
      <li class="nav-item" routerLink="/admin" routerLinkActive="active"><a class="nav-link" href="javascript:void(0);">Admin</a></li>
    </ul>
  </div> -->
</nav>
<router-outlet></router-outlet>
<app-home-page-help-modal></app-home-page-help-modal>
<app-test-data-modal></app-test-data-modal>
<!--<footer class="page-footer" >-->
  <!--<div class="container">-->
    <!--<span class="">BioWorkflow &copy;</span>-->
  <!--</div>-->
<!--</footer>-->
