<!-- Modal -->
<div modal="home-page-test-data" class="modal fade" role="dialog">
  <div class="modal-dialog" style="z-index: 9999999">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">BioWorkflow Test Data Repository</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <!-- <img class="img-fluid" style="display: block; margin: 0 auto; max-height: 100px" src="/assets/BioWorkflowInverted.png" alt=""> -->
        <hr>
        <ul>
          <li>Sample Nucleotide Sequence
            <ul>
              <li><a href="https://www.dropbox.com/s/bbqp2x9i9hc7wtg/blast-n.fasta?dl=1" target="_blank">Download</a></li>
            </ul>
          </li>
          <li>Sample Protein Sequence
            <ul>
              <li><a href="https://www.dropbox.com/s/0xgf8gw871j555q/blast-p.fasta?dl=1" target="_blank">Download</a></li>
            </ul>
          </li>
          <li>Sample Multiple Sequence Input (Clustal)
            <ul>
              <li><a href="https://www.dropbox.com/s/6yby63qmyprb5se/msa-clustal.fasta?dl=1" target="_blank">Download</a></li>
            </ul>
          </li>
          <li>Sample Multiple Sequence Input (DIALIGN)
            <ul>
              <li><a href="https://www.dropbox.com/s/jzp7b449ih7vf2n/dialign.fasta?dl=1" target="_blank">Download</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
