<div class="drawing-board img-responsive">
  <div (click)="onBoardClick()" class="drawing-surface jtk-surface-nopan jtk-surface">
    <app-step-box (remove)="onStepRemove($event)" (boxClick)="onBoxClick($event)" *ngFor="let step of steps"
                  [step]="step" [activeWorkflow]="activeWorkflow"></app-step-box>
  </div>
</div>
