<br>
<!-- <div class="row"> -->
<div class="col-sm-12">
  <div class="row">
    <div class="col-sm-2">
      <!-- <div class="row"> -->
        <!-- <div class="col-sm-10"> -->


          <!-- <div class="form-group">
            <div class="panel panel-default">
              <div class="panel-body"><b>Components </b>
              </div>
            </div>
            <datalist id="productName">
              <option value="Pen">Pen</option>
              <option value="Pencil">Pencil</option>
              <option value="Paper">Paper</option>
            </datalist>
          </div> -->
    
            <b class="row p_title">Task Panel</b>
            <app-tree-view class="row" (select)="selectTree($event)"></app-tree-view>
            
          <!-- <div class="panel panel-default">
            <div class="panel-body" id="description"><b>Description: </b>{{activeTreeItem ? activeTreeItem.description :
              ''}}<span id="text"></span>
            </div>
          </div> -->
    
          <div class="row" style="margin-top: 5px">
    
            <div class="col-3">
              <img [className]="(!activeTreeItem || !activeTreeItem.isStep || activeWorkflow) ? 'no-action' : 'action'"
                src="../../../assets/add_royal.ico" width="30" (click)="addStep()" style="border-radius: 50%;"/>
            </div>
    
            <div class="col-3">
              <img [className]="!readyWorkflow ? 'no-action' : 'action'" src="../../../assets/play_royal.ico" width="30" (click)="execute()" style="border-radius: 50%;" [ngStyle]="{'display': activeWorkflow ? 'none': 'block' }"/>
              <img class="action" src="../../../assets/pause_royal.png" width="30" style="border-radius: 50%;" [ngStyle]="{'display': activeWorkflow ? 'block': 'none'}"/>
            </div>
    
            <div class="col-3">
              <img [className]="(activeWorkflow || finishedWorkflow) ? 'action' : 'no-action'" src="../../../assets/clock_royal.png" width="30"  (click)="checkStatus()" style="border-radius: 50%;"/>
            </div>
            <!--  -->
            <div class="col-3">
              <img [className]="!finishedWorkflow ? 'action' : 'action'" src="../../../assets/clean_royal_1.png" width="30" style="border-radius: 50%;"/>
            </div>
          </div>
            <br>

          <!-- </div> -->
    
          <!-- <div class="col-sm-2 side_option">
              <div class="row side_option_item">
                  <img class="action" src="../../../assets/info_royal.png" width="30" (click)="execute()" style="border-radius: 50%;"/>
                </div>

            <div class="row side_option_item">
              <img [className]="!activeTreeItem || !activeTreeItem.isStep ? 'no-action' : 'action'" [ngStyle]="{'opacity': (!activeTreeItem || !activeTreeItem.isStep) ? '0.5' : '1' }"
                src="../../../assets/add_royal.ico" width="30" (click)="addStep()" style="border-radius: 50%;"/>
            </div>
      
            <div class="row side_option_item">
              <img class="action" src="../../../assets/play_royal.ico" width="30" (click)="execute()" style="border-radius: 50%;"/>
            </div>

            <div class="row side_option_item">
                <img class="action" src="../../../assets/pause_royal.png" width="30" (click)="execute()" style="border-radius: 50%;"/>
              </div>

            <div class="row side_option_item">
                <img class="action" src="../../../assets/clock_royal.png" width="30" (click)="execute()" style="border-radius: 50%;"/>
              </div>
           
      
            <div class="row side_option_item">
              <img class="action" src="../../../assets/clean_royal_1.png" width="30" (click)="clearUI()" style="border-radius: 50%;"/>
            </div>
      
            <div class="row side_option_item">
              <img class="action" src="../../../assets/download_royal.png" width="30" style="border-radius: 50%;"/>
            </div>
          </div> -->
      <!-- </div> -->
     

    </div>
    
   

    <div class="col-sm-10">
        <!-- <div id="overlay" (click)="off()">
            <div id="text">
              <table id="steps">
                <tr *ngFor="let input of statusData; let i = index" >
                    <td id="name">{{input.step}}</td>
                    <td id="status"><span  [className]="input.status == 'Completed' ? 'label complete' : input.status == 'Running' ? 'label running' : 'label incomplete'">{{input.status}}</span></td>
                    <td id="output" [ngStyle]="{'display': input.output == null ? 'none': 'block'}"> <a href="http://localhost:3000/api/download?path={{input.output}}" >download</a></td> 
                </tr>
              </table>
            </div>
          </div> -->
      <app-drawing-board></app-drawing-board>
    </div>

  </div>
  <br>
</div>
<!-- </div> -->