/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100% !important;
  width: 100% !important;
  /* font-family: 'Itim', cursive; */
  /* font-family:'Short Stack', cursive; */
  font-family: 'Sniglet', cursive;
}

/* Footer */

#footer {
  padding: 6em 2em 4em 2em;
}

  #footer > .inner {
    margin: 0 auto;
    width: 80em;
  }

  #footer .copyright {
    color: #bfbfbf;
    font-size: 0.9em;
    margin: 0 0 2em 0;
    padding: 0;
    text-align: center;
  }

    #footer .copyright .icons a {
      border-radius: 100%;
      box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px #fff, 0px 0px 0px 5px rgba(0, 0, 0, 0.1);
      display: block;
      font-size: 1em;
      height: 3em;
      line-height: 3em;
      margin: 0 auto 0.7em;
      text-align: center;
      width: 3em;
    }

  @media screen and (max-width: 1280px) {

    #footer > .inner {
      width: 65em;
    }

  }

  @media screen and (max-width: 980px) {

    #footer > .inner {
      width: 90%;
    }

  }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 1em 1em 1em;
    }

  }

  .jstree-default .jstree-themeicon{
    background-image: url(assets/bullet_blue.png) !important;
   background-repeat:no-repeat;
   background-position:left top;
   
  }

  .jtk-surface-nopan[_ngcontent-c6] {
    background-color: #333a40 !important;
  }

  .jstree-default .jstree-anchor {
    height: 28px !important;
    font-size: smaller !important;
    padding-right: 20px;
    border-radius: 20px;
}

  .side_option_item{
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;

  }

  .side_option{
    height: max-content;
    padding: 4px;
    margin-top: 20px;
  }

  .p_title{
    padding-bottom: 10px;
    text-indent: 10px;
  }